.login-page {
  width: 100%;
}

.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #262626;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-forgot {
  color: #1890ff;
}

.login-forgot:hover {
  color: #40a9ff;
}

.login-register {
  text-align: center;
  margin-top: 16px;
  color: #595959;
}

.login-register a {
  color: #1890ff;
  font-weight: 500;
}

.login-register a:hover {
  color: #40a9ff;
}
